ironforgedcore @ git+https://github.com/ironforgedclan/ironforgedcore.git@v0.1.0
fastapi
uvicorn[standard]
pydantic
sqlalchemy[asyncio]
aiomysql
alembic
python-dotenv
concurrent-log-handler
python-dateutil
